@font-face {
  font-family: "MS Sans Serif";
  src: url(../fonts/MS-Sans-Serif.ttf);
}

body {
  font-family: "MS Sans Serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: #c0c0c0;
  box-shadow: inset -1px -1px 0px 0px #0a0a0a, 1px 1px 0px 0px #ffffff,
    -2px -2px 0px 0px #808080, 2px 2px 0px 0px #dfdfdf,
    1px 1px 0px 0px rgba(255, 255, 255, 1);
}

main {
  background-color: #c0c0c0;
  border: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

header {
  width: 99.7%;
  display: flex;
  margin: 0;
  padding: 3px 3px;
  height: 3em;
  background-color: #c0c0c0;
  box-shadow: inset -1px -1px 0px 0px #0a0a0a, 1px 1px 0px 0px #dfdfdf,
    -2px -2px 0px 0px #808080, 2px 2px 0px 0px #ffffff;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, #000080 0%, #1084d0 100%);
  padding: 3px 2px 3px 10px;
  color: #ffffff;
}

nav > h1 {
  margin-right: auto;
}

nav > span {
  margin-right: 1em;
}

main {
  display: flex;
  margin: 1em;
  width: 98%;
  height: 100%;
  box-shadow: inset -1px -1px 0px 0px #0a0a0a, 1px 1px 0px 0px #ffffff,
    -2px -2px 0px 0px #808080, 2px 2px 0px 0px #dfdfdf,
    1px 1px 0px 0px rgba(255, 255, 255, 1);
}

.top {
  display: flex;
  align-items: center;
  padding: 1em;
}

.callendar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: #c0c0c0;
  border: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.callendar > div {
  margin: 0.5rem;
}

.date {
  display: flex;
  align-items: center;
}

.date > img {
  width: 24px;
  margin-right: 5px;
}

.time {
  display: flex;
  align-items: center;
}

.time > img {
  width: 24px;
  margin-right: 5px;
}
